.container {
  background: purple;
  display: grid;
  grid-template-columns: 100px 300px 200px;
  grid-template-rows: 1fr 1fr 1fr;
}

.item {
  background: pink;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.sub-item {
  background: powderblue;
}
.second-item {
  background: red;
  height: 100px;
  width: 100px;
}

.half-item {
  background: green;
}